#logo_img {
  width: 5%;
}
.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8em !important;
  background-color: transparent !important;
}
#transparent {
  background-color: transparent !important;
  color: aliceblue !important;
}
